html {
    background-color: rgb(212, 208, 208);
    font-size: larger;
    color: black;
    
}
#container {
    width: 60%;
    margin: 0 auto;
    border: 1px solid rgb(170, 168, 168);
}

h1 {
    font-size: x-large;
}

footer {
    height: 200px;
}

footer p{
    font-size: large;
    justify-content: right;
}